<div class="main-block" *ngIf="customer">
    <h2 class="header">Details of {{customer.name}} {{customer.lastName | uppercase}}</h2>
    <div class="">
        <span class="">Email: {{customer.email}}</span><br>
    </div>
    <div *ngFor="let bookHire of bookHires, let i=index">
        <ol>
            <li>
                <span>{{bookHire.rentDate}}</span>
                <span>{{bookHire.returnDate}}</span>
                <span *ngIf="books[i]" >{{books[i].title}}</span>
            </li>
        </ol>
    </div>
</div>


<!-- {{bookHire.id}} {{bookHire.rentDate}} {{bookHire.returnDate}} {{books[0].title}}  -->