.list {
    text-align: center;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    padding-top: 20px;
    width: 20em;
}

.list-element {
    text-align: center;
    padding: 10px;
    background-color: lightblue;
    cursor: pointer;
    border: 2px solid darkgray;
    border-radius: 10px;
}

.list-element:hover {
    background-color: darkgrey;
}

.text-element {
    word-wrap: break-word;
}